<div class="row invoice-angular">
  <div class="col-12 mb-5">
    <div class="card mb-5 invoice-contents">
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row justify-content-between pt-2 pb-2">
            <div class="d-flex align-self-center">
              <span class="logo-single" style="margin-top: 10px;"></span>
            </div>
            <div class="d-flex w-30 text-right align-self-center">
              <p class="text-small text-semi-muted mb-0">B12/20 A Ấp 2, xã Tân Quý Tây, Huyện Bình Chánh
                TP.HCM<br />0906959619</p>
            </div>
          </div>
          <div class="border-bottom pt-4 mb-5"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body" style="font-size: 13px;">
                  <h5 class="card-title" style="font-size: 14px; text-align: center;"><i>CUSTOMER</i></h5>
                  <div style="margin-left: 20px;">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Display Name</div>
                        </div>
                        <div class="col-md-8">
                          <div> {{ appointment?.displayNameC }} </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Email </div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.emailC }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Phone</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.phoneC }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Address</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.addressC }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 14px; text-align: center;"><i>DESIGNER</i></h5>
                  <div style="margin-left: 20px;">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Display Name</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.displayNameD }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Email </div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.emailD }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Phone</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.phoneD }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-bottom pt-3 mb-5"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body" style="font-size: 13px;">
                  <h5 class="card-title" style="font-size: 14px; text-align: center;"><i>Appointment Information</i>
                  </h5>
                  <div style="margin-left: 20px;">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Location</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.location }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>From</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.dateRange[0] | amLocal | amDateFormat: 'YYYY-MM-DD' }}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>To</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{ appointment?.dateRange[1] | amLocal | amDateFormat: 'YYYY-MM-DD' }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 14px; text-align: center;"><i>Customer's Preference</i></h5>
                  <div style="margin-left: 20px ;">
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Interior Style</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{'interiorStyle'}}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Color </div>
                        </div>
                        <div class="col-md-8">
                          <div>{{'color'}}</div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="row">
                        <div class="col-md-4">
                          <div>Pattern</div>
                        </div>
                        <div class="col-md-8">
                          <div>{{'pattern'}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-bottom pt-3 mb-5"></div>
          <table class="table table-borderless d-flex justify-content-end">
            <tbody>
              <!-- <tr>
                <td class="text-semi-muted">Subtotal :</td>
                <td class="text-right">$ 5</td>
              </tr> -->
              <tr class="font-weight-bold">
                <td class="text-semi-muted">Total :</td>
                <td class="text-right">$ 5</td>
              </tr>
            </tbody>
          </table>
          <div class="border-bottom pt-3 mb-5"></div>
          <p class="text-muted text-small text-center">Invoice was created on a computer and is valid without the
            signature and seal. </p>
        </div>
      </div>
    </div>
  </div>
</div>
