<app-heading></app-heading>
<app-breadcrumb></app-breadcrumb>
<div class="separator mb-5"></div>

<div class="row">
  <!-- <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4" *ngFor="let item of datashow">
    <div class="card flex-row listing-card-container">
      <a class="d-flex" routerLink="./">
        <img alt="Profile" [src]='item.avartar'
          class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
      </a>
      <div class="card-body">
        <a routerLink="/app/pages/blog/blog-detail">
          <h5 class="mb-3 listing-heading" ellipsis>{{item.name}}</h5>
        </a>
        <p style="font-size: 13px;">Birthday : {{item.birthday}}</p>
        <p class="listing-desc text-muted" ellipsis>About : {{item.about}}</p>
        <footer>
          <p class="text-muted text-small mb-0 font-weight-light">Posts : {{item.posts}}</p>
        </footer>
      </div>
    </div>
  </div> -->
  <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let item of data">
    <div class="card d-flex flex-row mb-4">
      <a class="d-flex" href="javascript:;">
        <img alt="Profile" [src]="item.thumb"
          class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a href="javascript:;">
              <p class="list-item-heading mb-1 truncate">{{item.name}}</p>
            </a>
            <p class="mb-2 text-muted text-small">{{item.status}}</p>
            <p style="display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;" class="mb-2 text-muted text-small" ellipsis>
              About : {{'item.about item.about item.about item.about item.about item.about'}}
            </p>
            <div class="row">
              <div style="padding-right: 8px; padding-left: 8px;"></div>
              <button type="button" class="btn btn-xs btn-outline-primary">View</button>
              <div style="padding-right: 5px; padding-left: 5px;"></div>
              <button type="button" class="btn btn-xs btn-outline-primary">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <pagination class="justify-content-center" [totalItems]="30" previousText="<i class='simple-icon-arrow-left'></i>"
      nextText="<i class='simple-icon-arrow-right'></i>"></pagination>
  </div>
</div>
