<app-list-page-header [itemOptionsPerPage]="itemOptionsPerPage" [itemsPerPage]="itemsPerPage"
  (itemsPerPageChange)="itemsPerPageChange($event)" (changeOrderBy)="changeOrderBy($event)"
  (searchKeyUp)="searchKeyUp($event)" [showOrderBy]="false" [showDisplayMode]="false" [showAddNewButton]="false"
  [showSelectedOption]="false">
</app-list-page-header>

<div class="row">

  <div class="col-12 col-sm-12 col-lg-6 col-xl-4" *ngFor="let item of data">
    <div class="card d-flex flex-row mb-4">
      <a class="d-flex" href="javascript:;">
        <img alt="Profile" [src]="item?.avatarURL"
          class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a href="javascript:;">
              <p class="list-item-heading mb-1 truncate">{{ item?.displayName }}</p>
            </a>
            <p class="mb-2 text-muted text-small">{{ 'Designer' }}</p>
            <p style="display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;" class="mb-2 text-muted text-small" ellipsis>
              About : {{ (item?.about) ? item?.about : 'No Information' }}
            </p>
            <div class="row">
              <div style="padding-right: 8px; padding-left: 8px;"></div>
              <button type="button" class="btn btn-xs btn-outline-primary">View</button>
              <div style="padding-right: 5px; padding-left: 5px;"></div>
              <button type="button" class="btn btn-xs btn-outline-primary">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="data?.length" class="col-12">
    <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="520"
      [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
      previousText="<i class='simple-icon-arrow-left'></i>" nextText="<i class='simple-icon-arrow-right'></i>">
    </pagination>
  </div>

</div>
