<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
    <p class="white mb-0">
      Please enter a new password.
      <br>If you are not a member, please
      <a routerLink="/user/register" class="white white-underline-link">register</a>.
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Verifying Email</h6>

    <p>
      Authentication is in progress, please wait a moment, we will redirect you to logging in...
    </p>
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [isDisabled]="buttonState.length > 0"
        [currentState]="buttonState" routerLink="user/login">
        {{ 'user.Back To Login' | translate | uppercase }}
      </app-state-button>
    </div>

  </div>
</div>
<simple-notifications></simple-notifications>
