<!-- <p>post-create works!</p> -->
<form #inInputForm="ngForm" (ngSubmit)="clickSubmitButton(inInputForm)" novalidate>
  <div class="row">
    <div class="col-8 col-lg-8 mb-4">

      <div class="card mb-4">
        <div class="col-12 card-body">
          <h5 class="mb-4">{{ 'forms.brief-description' | translate }}</h5>

          <!-- Title -->
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">{{ 'forms.title' | translate }}</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          </div>

          <!-- Sumary -->
          <div [style.margin-bottom]="'15px'"></div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">{{'forms.summary' | translate}}</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>

        </div>
      </div>


      <!-- Editor -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="mb-4">{{'forms.content' | translate}}</h5>
          <quill-editor [placeholder]="''"></quill-editor>
        </div>
      </div>

      <!-- Upload image for Gallery -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="mb-4">{{ 'forms.gallery' | translate }}</h5>
          <dropzone [config]="config" [message]="'form-components.dropzone-message' | translate"
            (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
        </div>
      </div>



    </div>
    <div class="col-4 col-lg-4 mb-4">

      <!-- Upload image thumbnail for post -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="mb-4">{{ 'forms.thumbnail' | translate }}</h5>
          <dropzone [config]="config" [message]="'form-components.dropzone-message' | translate"
            (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
        </div>
      </div>


      <div class="card mb-4">
        <div class="col-12 card-body">
          <h5 class="mb-4">{{ 'forms.post-options' | translate }}</h5>

          <!-- Title -->

          <div class="form-group tooltip-right-top input-group-lg">
            <label>{{ 'forms.title' | translate }}</label>
            <input type="text" class="form-control" name="title" ngModel required #title="ngModel">
            <div *ngIf="!title.valid && inInputForm.submitted" class="invalid-tooltip">Title is required!</div>
          </div>

          <!-- Sumary -->
          <div class="form-group tooltip-right-top">
            <label>{{ 'forms.summary' | translate }}</label>
            <input type="text" class="form-control" name="name" ngModel required #name="ngModel">
            <div *ngIf="!name.valid && inInputForm.submitted" class="invalid-tooltip">Summary is required!</div>
          </div>

        </div>
      </div>

    </div>
  </div>
</form>
