<app-heading></app-heading>
<app-breadcrumb></app-breadcrumb>
<div class="separator mb-5"></div>

<div class="card">
    <div class="card-body">
      <aw-wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="Personal Info" style="min-height: 230px;">
          <ng-template awWizardStepSymbol><i class="simple-icon-user"></i></ng-template>
          <div>
            <div class="form-group">
                <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" name="displayName" #displayName="ngModel"
                      [(ngModel)]="userCurrentInfo.displayName"  />
                    <span>{{ 'forms.display-name' | translate | uppercase }}</span>
                    <div  *ngIf="false;"  class="invalid-tooltip">
                      Value is required!
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="form-group has-top-label">
                    <input class="form-control" name="email" #email="ngModel"
                      [(ngModel)]="userCurrentInfo.email"  />
                    <span>{{ 'forms.email' | translate | uppercase }}</span>
                    <div *ngIf="false;"  class="invalid-tooltip">
                        Value is required!
                    </div>
                  </label>
                  <!-- Phone -->
                  <div class="form-group"> 
                  <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" name="phone" #phone="ngModel"
                      [(ngModel)]="userCurrentInfo.phone"  required />
                    <span>{{ 'forms.phone' | translate | uppercase }}</span>
                    <div *ngIf="false;"   class="invalid-tooltip">
                      Value is required!
                    </div>
                  </label>
                </div>
                  <!-- Address -->
                  <div class="form-group">
                  <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" name="address" #address="ngModel"
                      [(ngModel)]="userCurrentInfo.address" required />
                    <span>{{ 'forms.address' | translate | uppercase }}</span>
                    <div *ngIf="false;"  class="invalid-tooltip">
                      Value is required!
                    </div>
                  </label>
                </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep disabled>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
          </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Designer Info" style="min-height: 230px;">
          <ng-template awWizardStepSymbol><i class="simple-icon-user-following"></i></ng-template>
          <div>
            <div class="form-group">
                <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" name="displayName" #displayName="ngModel"
                      [(ngModel)]="designerInfo.displayName" readonly />
                    <span>{{ 'forms.display-name' | translate | uppercase }}</span>
                    <div  *ngIf="false;"  class="invalid-tooltip">
                      Value is required!
                    </div>
                </label>
            </div>
            <div class="form-group">
                <label class="form-group has-top-label">
                    <input class="form-control" name="email" #email="ngModel"
                      [(ngModel)]="designerInfo.email" readonly />
                    <span>{{ 'forms.email' | translate | uppercase }}</span>
                    <div *ngIf="false;"  class="invalid-tooltip">
                        Value is required!
                    </div>
                  </label>
                  <!-- Phone -->
                  <div class="form-group"> 
                  <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" name="phone" #phone="ngModel"
                      [(ngModel)]="designerInfo.phone"  required readonly />
                    <span>{{ 'forms.phone' | translate | uppercase }}</span>
                    <div *ngIf="false;"   class="invalid-tooltip">
                      Value is required!
                    </div>
                  </label>
                </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
          </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Appointment Details" style="min-height: 230px;">
          <ng-template awWizardStepSymbol><i class="simple-icon-location-pin"></i></ng-template>
          <div>
            <div class="form-group">
                  <label class="form-group has-top-label tooltip-right-top">
                    <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [container]="'html'" [(ngModel)]="bsRangeValue">
                    <span>{{ 'forms.date' | translate | uppercase }}</span>
                    <div *ngIf="false" class="invalid-tooltip">
                      Value is required!
                    </div>
                  </label>
            </div>
            <div class="form-group">
                <label class="form-group has-top-label tooltip-right-top">
                    <ng-select name="location" 
                      [items]="[{name:'Online'}, {name:'Offline'}]"
                      bindLabel="name" bindValue="name" required>
                    </ng-select>
                    <span>{{ 'forms.location' | translate | uppercase }}</span>
                    <div *ngIf="false" class="invalid-tooltip">
                      Value is required!
                    </div>
                  </label>
            </div>
            <div class="form-group">
              <div class="col-12 col-lg-6 mb-4">
                <label>{{ 'forms.time' | translate }}</label>
                <timepicker class="timepicker" [(ngModel)]="basicTime"></timepicker>
              </div>
          </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
            <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
          </div>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Payment" style="min-height: 230px;">
            <ng-template awWizardStepSymbol><i class="iconsminds-dollar-sign-2"></i></ng-template>
            <div>
              <div class="form-group">
                <label>{{ 'forms.city' | translate }}</label>
                <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                <label>{{ 'forms.address' | translate }}</label>
                <textarea class="form-control" rows="2"></textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
              <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
            </div>
          </aw-wizard-step>
        <aw-wizard-completion-step stepTitle="{{ 'wizard.done' | translate }}" style="min-height: 230px;">
          <ng-template awWizardStepSymbol><i class="simple-icon-check"></i></ng-template>
          <div class="text-center complete-message-centered">
            <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
            <p>{{ 'wizard.registered' | translate }}</p>
          </div>
        </aw-wizard-completion-step>
      </aw-wizard>
    </div>
  </div>
  