<!-- <p>post-detail works!</p> -->
<app-heading></app-heading>
<app-breadcrumb></app-breadcrumb>
<div class="separator mb-5"></div>
<div class="row">
  <div class="col-12 col-md-12 col-xl-8 col-left">
    <div class="card mb-4">
      <div *ngIf="showGallery" class="card-body">
        <app-glide-thumbs *ngIf="detailImages" [images]="detailImages" [settingsImages]="{
              bound: true,
              rewind: false,
              focusAt: 0,
              startAt: 0,
              gap: 5,
              perView: 1
            }" [thumbs]="detailImages" [settingsThumbs]="{
              bound: true,
              rewind: false,
              focusAt: 0,
              startAt: 0,
              gap: 10,
              perView: 5,
              breakpoints: {
                '2640' : { perView: 5 },
                '576' : { perView: 4 },
                '420' : { perView: 3 }
              }
            }"></app-glide-thumbs>
      </div>
    </div>

    <app-post-detail-tabs [currentPost]="currentPost" [postAuthor]="postAuthor" [postComments]="postComments">
    </app-post-detail-tabs>
  </div>

  <div class="col-12 col-md-12 col-xl-4 col-right">
    <app-post-detail-info [currentPost]="currentPost" [noComment]="postComments?.length"
      [currentUserID]="currentUserID"></app-post-detail-info>

    <div *ngIf="currentUser?.role === 'user'" class="card mb-4 d-none d-lg-block">
      <div style="text-align: center;" class="card-body">
        <button (click)="makeAppointment(currentPost?.authorID);" style="font-size: large; min-height: 50px;"
          type="button" class="btn btn-outline-light mb-1">
          {{'button.booking-me' | translate}}
        </button>
      </div>
    </div>



    <app-post-recommended></app-post-recommended>
    <app-post-featured></app-post-featured>
    <app-post-recent></app-post-recent>
  </div>
</div>
