<app-heading></app-heading>
<app-breadcrumb></app-breadcrumb>
<div class="separator mb-5"></div>

<div class="row">
  <div class="col-12 col-xl-7 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="mb-4">{{ 'Uploaded Image' | translate }}</h5>
        <hr>
        <img *ngIf="predictImage" class="card-img" style="width: 100%; min-height: 500px; object-fit: cover;"
          [src]="predictImage" alt="Card image">
        <img *ngIf="!predictImage" class="card-img" style="width: 100%; min-height: 500px; object-fit: cover;"
          src="/assets/loading/loading.gif" alt="Card image">
        <hr>
        <!-- <br>
        <button type="submit" [style.margin-right]="'10px'" class="btn btn-primary mb-0">
          {{ 'forms.save' | translate }}
        </button> -->
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-5 mb-4">


    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-8">
            <h5 class="mb-4">{{ 'Upload' | translate }}</h5>
            <dropzone [config]="configAvatar" #nationalDropZone
              [message]="'form-components.dropzone-message' | translate" (sending)="onSending($event)"
              (error)="onUploadError($event)" (success)="onUploadSuccessAvatar($event)"
              (removedFile)="onRemovedFileAvatar($event)">
              <input type="hidden" name="bucketPath" value="{{ this.bucketPath }}">
            </dropzone>
            <div *ngIf="false" class="invalid-tooltip">
              Avatar is required!
            </div>
          </div>

          <div class="col-4">
            <h5 class="mb-4">{{ 'Control' | translate }}</h5>
            <div style="padding: 7px;"></div>
            <button [disabled]="!predictImage" type="button" style="width: 100px;" (click)="predictEvent();"
              class="btn btn-primary mb-0">
              {{ 'Predict' | translate }}
            </button>
            <div style="padding: 7px;"></div>
            <button [disabled]="!predictImage || !predictedResults" type="button" style="width: 100px;"
              class="btn btn-primary mb-0" (click)="saveByUser()">
              {{ 'forms.save' | translate }}
            </button>
            <div style="padding: 7px;"></div>
          </div>


        </div>
      </div>


    </div>


    <br>
    <div *ngIf="isLoading || (predictImage && predictedResults)" class="card">
      <div class="card-body">
        <h5 class="mb-4">{{ isLoading ? 'Analyzing...' : 'Predicted results: ' + predictedLabel }}</h5>
        <div *ngIf="isLoading" style="position: relative;" class="loading"></div>

        <div *ngIf="predictImage && predictedResults">
          <div class="chart-container chart">
            <app-bar-chart [shadow]="true" [options]="barChartOptions" [data]="barChartData">
            </app-bar-chart>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<!-- Featured Post -->
<h5 *ngIf="showRecommented" class="mb-4"
style="text-align: center;font-size: 30px;">
<i>{{'carousel.relatedposts' | translate}}</i>
</h5>
<div *ngIf="showRecommented" class="row">
<div class="col-md-12 mb-4">
  <app-glide [settings]="{
      gap: 0,
      type: 'carousel',
      peek: { before: 50, after: 50 },
      perView: 3,
      breakpoints: { '600': { perView: 1 }, '1000': { perView: 2 } }
    }">
    <div *ngFor="let item of recommentedPost" class="glide__slide">

      <div class="card">
        <div class="position-relative">
          <a href="/app/post/post-detail?id={{ item?.id }}">
            <img style="height: 220px; object-fit: cover;" class="card-img-top" [src]="item?.thumbnail"
              [alt]="item?.title">
          </a>
          <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">
            {{ item.category | uppercase}}
          </span>
        </div>
        <div class="card-body">
          <h6 class="mb-4"><a href="/app/post/post-detail?id={{ item?.id }}">{{item?.title}}</a></h6>
          <footer>
            <p class="text-muted text-small mb-0 font-weight-light">
              {{ item?.dateCreated | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }} |
              {{ item?.dateCreated | amTimeAgo }}
            </p>
          </footer>
        </div>
      </div>

    </div>
  </app-glide>

</div>
</div>
