<div class="row">
  <div class="col-12 col-lg-5 col-xl-4 col-left">
    <app-profile-user-portfolio [user]="userAuthorizedInfo"></app-profile-user-portfolio>
  </div>

  <div class="col-12 col-lg-7 col-xl-8 col-right">
    <form #inInputForm="ngForm" novalidate>
      <div class="row">
        <!-- Card Begin -->
        <div class="col-12 col-xl-6 mb-4">

          <div class="card d-flex flex-row mb-4">
            <a class="d-flex" href="javascript:;">
              <img alt="Profile" [src]="userAuthorizedInfo.avatarURL"
                style="object-fit: cover; height: 85px; width: 85px;"
                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
            </a>
            <div class=" d-flex flex-grow-1 min-width-zero">
              <div
                class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                <div class="min-width-zero">
                  <a href="javascript:;">
                    <p class="list-item-heading mb-1 truncate" ellipsis>{{userAuthorizedInfo?.displayName}}</p>
                  </a>
                  <p class="mb-2 text-muted text-small">{{userAuthorizedInfo?.about}}</p>
                  <button type="button" class="btn btn-xs btn-outline-primary">View</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card d-flex flex-row mb-4">
            <div class="card-body">

              <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                <a href="#">
                  <img [src]="userAuthorizedInfo.avatarURL" alt="data.name"
                    style="object-fit: cover; height: 50px; width: 50px;"
                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                </a>
                <div class="pl-3 flex-fill">
                  <a href="#">
                    <p class="font-weight-medium mb-0" ellipsis>{{ userAuthorizedInfo?.displayName }}</p>
                    <p class="text-muted mb-0 text-small" ellipsis>{{ userAuthorizedInfo?.about }}</p>
                  </a>
                </div>
                <div>
                  <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                </div>
              </div>
            </div>
          </div>



        </div>


        <!-- Card End -->
        <div class="col-12 col-xl-6 mb-4">

          <form #inInputForm="ngForm" (ngSubmit)="clickSubmitButton(inInputForm)" novalidate>
            <div class="card mb-4 tooltip-right-top">
              <div class="card-body">

                <h5 class="mb-4">{{ 'forms.avatar' | translate }}</h5>
                <dropzone [config]="configAvatar" #nationalDropZone
                  [message]="'form-components.dropzone-message' | translate" (sending)="onSending($event)"
                  (error)="onUploadError($event)" (success)="onUploadSuccessAvatar($event)"
                  (removedFile)="onRemovedFileAvatar($event)">
                  <input type=" hidden" name="bucketPath" value="{{ this.bucketPath }}">
                </dropzone>
                <div *ngIf="checkAvatar(inInputForm);" class="invalid-tooltip">
                  Avatar is required!
                </div>

                <br>
                <button type="submit" [style.margin-right]="'10px'" class="btn btn-primary mb-0">
                  {{ 'forms.save' | translate }}
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </form>
  </div>

</div>
